services:
  gateway:
    image: gateway
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://gateway-mongodb:27017/gateway?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    ports:
      - 8080:8080
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8080/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      gateway-mongodb:
        condition: service_healthy
  gateway-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  userservice:
    image: userservice
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://userservice-mongodb:27017/userservice?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8081/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      userservice-mongodb:
        condition: service_healthy
  userservice-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  notificationservice:
    image: notificationservice
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://notificationservice-mongodb:27017/notificationservice?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8082/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      notificationservice-mongodb:
        condition: service_healthy
  notificationservice-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  stockservice:
    image: stockservice
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://stockservice-mongodb:27017/stockservice?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8083/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      stockservice-mongodb:
        condition: service_healthy
  stockservice-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  newsservice:
    image: newsservice
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://newsservice-mongodb:27017/newsservice?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8084/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      newsservice-mongodb:
        condition: service_healthy
  newsservice-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  crawlservice:
    image: crawlservice
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
      - SPRING_DATA_MONGODB_URI=mongodb://crawlservice-mongodb:27017/crawlservice?waitQueueMultiple=1000
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8085/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      crawlservice-mongodb:
        condition: service_healthy
  crawlservice-mongodb:
    image: mongo:8.0.9
    healthcheck:
      test:
        - CMD
        - echo
        - '''db.runCommand("ping").ok'''
        - '|'
        - mongo
        - localhost:27017/test
        - --quiet
      interval: 5s
      timeout: 5s
      retries: 10

  kafka:
    image: apache/kafka-native:4.0.0
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://localhost:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      #ports:
      # - 9092:9092 # Uncomment to make Kafka available externally
  consul:
    image: docker.io/bitnami/consul:1.21.0
    ports:
      - 8300:8300
      - 8500:8500
      - 8600:8600
    command: consul agent -dev -ui -client 0.0.0.0 -log-level=INFO
  consul-config-loader:
    image: jhipster/consul-config-loader:v0.4.1
    volumes:
      - ./central-server-config:/config
    environment:
      - INIT_SLEEP_SECONDS=5
      - CONSUL_URL=consul
      - CONSUL_PORT=8500

  prometheus:
    image: prom/prometheus:v3.3.1
    volumes:
      - ./prometheus-conf/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
  alertmanager:
    image: prom/alertmanager:v0.28.1
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager-conf/:/etc/alertmanager/
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'

  grafana:
    image: grafana/grafana:12.0.0
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false

volumes:
  prometheus_data: {}
  grafana_data: {}
